<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="uk.co.threeequals.landscapeconnect">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="false"
        tools:replace="android:allowBackup"
        android:icon="@mipmap/mic_launcher"
        android:name="uk.co.threeequals.landscapeconnect.MyApp"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Active Android -->
        <meta-data android:name="AA_DB_NAME" android:value="ls.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="1" />

        <provider android:authorities="uk.co.threeequals.landscapeconnect" android:exported="false" android:name="com.activeandroid.content.ContentProvider" />

        <!--<meta-data-->
            <!--android:name="AA_MODELS"-->
            <!--android:value="com.myapp.model.Item, com.myapp.model.Category" />-->

        <activity
            android:name="uk.co.threeequals.landscapeconnect.QuestionnairesActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="uk.co.threeequals.landscapeconnect.SectionsActivity"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.co.threeequals.landscapeconnect.QuestionnairesActivity" />
        </activity>

        <!-- Upload Service and task -->
        <service
            android:name="uk.co.threeequals.landscapeconnect.LSUploadService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <!-- Start the service on boot -->
        <receiver android:name="uk.co.threeequals.landscapeconnect.BootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>


    </application>

</manifest>